<link rel='stylesheet' href='/stylesheets/animations.css' />

<nav>
  <div class="container">
    <div class="left">
      <span class="logo">The Blawg</span>
    </div>
    <div class="right">
      <button id="" class="toggleVisibility notVisible">New Story</button>
    </div>
  </div>
</nav>

<div class="lightbox">
  <a href="#" class="toggleVisibility close">
    <img alt="close" src="/images/close-round.png">
  </a>
  <div class="lightbox-cell">
    <div class="popover animated">
      <div class="login-form">

          <form name="store" method="post" action="/">
            <input type="text" placeholder="username" name="username" id="username">
            <input type="password" placeholder="password" name="password" id="password">
            <button onclick="" id="submitPost" type="submit">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>

<section class="hero">
  <div class="container">
    <h1>{{title}}</h1>
    <p>
      A place for my ideas and thoughts on tech and pop-culture.
    </p>

  </div>
</section>

<section class="posts-list">
  <div class="container">
    {{{body}}}
  </div>
</section>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/getContent.js"></script>
<script src="//use.typekit.net/afr3hmy.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
