<div class="content container">
  <div class="title" id="title">
    {{{title}}}
  </div>

  <div class="body" id="body">
    {{{body}}}
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
