html, body {
  margin: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #FFF;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

*:focus {
  outline: none;
}

.container {
  max-width: 700px;
  padding: 0 10px;
  margin: 0 auto;
}
.container img {
  width: 50%;
  float: left;
}
.container .pull-left {
  width: 55%;
  float: left;
  margin: 20px 20px 20px -80px;
}
.container .pull-right {
  width: 55%;
  float: right;
  margin: 20px -80px 20px 20px;
}
@media (min-width: 750px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }
  .container {
    margin: 0px auto;
  }
}


p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
}

button, a.btn {
  color: #468c54;
  display: inline-block;
  position: relative;
  height: 37px;
  padding: 0 16px;
  background: rgba(0,0,0,0);
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.15);
  border-color: #57ad68;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "proxima-nova",Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Aritcle styles */

h2, .title, .title p {
  font-family: "Helvetica neue", "helvetica", sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 4px;
  color: rgba(0,0,0,0.8);
}

.editable, .editable p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
}

.body p {
  color: rgba(0,0,0,0.75);
}

/* Navbar */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

nav .logo {
  font-size: 24px;
  font-family: "proxima-nova", helvetica;
  font-weight: 100;
  letter-spacing: -0.01em;
}

.right {
  float: right;
}
.left {
  float: left;
}


/* Homepage styles */

.hero {
  margin-top: 59px;
  padding: 60px 0px 60px 0px;
  /*background: -webkit-linear-gradient(rgba(194, 228, 237, 0.2), rgb(255, 255, 255));
  background: -o-linear-gradient(rgba(194, 228, 237, 0.2), rgb(255, 255, 255));
  background: -moz-linear-gradient(rgba(194, 228, 237, 0.2), rgb(255, 255, 255));
  background: linear-gradient(rgba(194, 228, 237, 0.2), rgb(255, 255, 255));*/
  text-align: center;

}
.hero h1 {
  letter-spacing: -0.02em;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  margin-bottom: 0;
  line-height: 1.2;
  color: rgba(0,0,0,0.8);
  font-family: "proxima-nova", helvetica;
}

.article {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 0;
}
section.posts-list {

}
section.posts-list .article h2 > * {
  font-family: "Helvetica neue", "helvetica", sans-serif;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-bottom: 4px;
  color: rgba(0,0,0,0.8);
}

section.posts-list .article h2,
section.posts-list .article p {margin-top: 0px;}

section.posts-list .article h6 {
  font-family: Helvetica;
  color: rgba(0,0,0,0.1);
  font-weight: 700;
  margin: 0;
  font-size: 36px;
}

/* New post styles */

.content {
  padding: 100px 0;
}

button.medium-editor-action {
  border-radius: 0;
}

/*popover login*/
.lightbox {
  background: #fff;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
.lightbox.visible {
  opacity: 1;
  visibility: visible;
  display: table;
}
.lightbox-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.lightbox .close img {
  position: absolute;
  right: 70px;
  top: 50px;
  width: 30px;
}
.popover {
  margin: 0 auto;
  overflow: hidden;
  z-index: 900;
  visibility: visible;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  pointer-events: auto;
  box-shadow:0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
  background: #FFF;
  border-radius: 4px;
  max-width: 280px;
  width: 280px;
}.popover.visible {
  visibility: visible;
}

input {
  width: 100%;
  padding: 11px 12px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #edeff1;
  color: #5f6979;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-appearance: none;
}

.popover form > * {
  margin-top: 10px;
}

/*Medium editor styles*/

.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 50px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px; }

.medium-editor-toolbar {
  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.75));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }
  .medium-editor-toolbar li button {
    background-color: #242424;
    background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.89));
    background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
    border: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #333;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 50px;
    min-width: 50px;
    -webkit-transition: background-color 0.2s ease-in;
            transition: background-color 0.2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: #000;
      color: yellow; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    background: -webkit-linear-gradient(top, #242424, rgba(0, 0, 0, 0.89));
    background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
    color: #fff; }

.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #242424;
    box-sizing: border-box;
    color: #ccc;
    height: 50px; }
  .medium-editor-toolbar-form a {
    color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }
